{% extends "layout.html" %}
{% block content %}

<title>Search Img</title>
<h1 class="text-center">Search Img</h1>
<div class="row justify-content-center">
    <div>
        <form method=post enctype=multipart/form-data > 
            <input type=file name=file>
            <input type=submit value=Upload name=upload-file>
        </form>
        <hr>
        {% if filename %}
            <img src="{{ url_for ('static', filename = 'uploaded_file/'+filename) }}" width="350" height="auto" alt="Computer Hope">
        {% endif %}
        <div class="row" style="margin-top: 5px">
            <div class="col text-center">
                <form method="POST">
                    <input type="submit" class="btn btn-default" name="search" value="Search">
                </form>
            </div>
        </div>
    </div>
</div>

{% if detected_path %}
        <img src="data:image/png;base64,{{detected_path}}" width="350" height="auto" alt="Computer Hope">
{% endif %}
{% if align_path %}
        <img src="{{ url_for ('static', filename = 'tmp/'+align_path) }}" width="350" height="auto" alt="Computer Hope">
{% endif %}

{% endblock %}