{% extends "layout.html" %}
{% block content %}

<title>Search Img</title>
<h1 class="text-center">Search Img</h1>
<div class="row justify-content-center">
    <div>
        <form method=post enctype=multipart/form-data > 
            <input type=file name=file>
            <input type=submit value=Upload name=upload-file>
        </form>
        <hr>
        {% if filename %}
            <img src="{{ url_for ('static', filename = 'uploaded_file/'+filename) }}" width="350" height="auto" alt="Computer Hope">
        {% endif %}
        <div class="row" style="margin-top: 5px">
            <div class="col text-center">
                <button class="btn btn-default" name="search">Search</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}